<form [formGroup]="mobileForm" class="mobile-form">
    <div  class="form-group col-md-12 pl-0">
        <div class="form-row">
          <div *ngIf="state.mobileNo" class="form-group required col-md-6">
            <label for="mobile">{{Label.mobileNo}}</label>
            <input type="text" [readonly]="(state.mobileNo == 'disable')?true:false" class="form-control" id="mobile" placeholder="mobileNo" formControlName="mobileNo">
            <div *ngIf="(form.mobileNo.invalid && (form.mobileNo.dirty || form.mobileNo.touched)) || isSubmit" class="text-danger">
              <div *ngIf="form.mobileNo.errors?.required">
                {{RegistrationMessage.mobileNo}}
              </div>
               <div *ngIf="(form.mobileNo.errors?.minlength || form.mobileNo.errors?.maxlength) || form.mobileNo.errors?.pattern">
                {{RegistrationMessage.min_mobileNo}}
              </div>
             <!--  <div *ngIf="form.mobileNo.errors.maxlength">
                {{RegistrationMessage.min_mobileNo}}
              </div> -->
              <!-- <div *ngIf="form.mobileNo.errors?.pattern">
                {{RegistrationMessage.num_mobileNo}}
              </div> -->
            </div>
          </div>
          <div class="form-group col-md-6 " >
            <div class="input-group mb-3">
                <div class="" id="recaptcha-container"></div>
                <div *ngIf="verifyButton" class="input-group-append">
                  <button class="btn btn-primary" (click)="sendLoginCode()"><span *ngIf="!loading">OTP</span>
                    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading" style="font-size:40px"></i>
                  </button>
                </div>
            </div>
            <div *ngIf="windowRef.confirmationResult">
              <hr>
              <label for="code">Enter OTP</label><br>
              <input type="text" name="code" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
              <button class="btn btn-primary" (click)="verifyLoginCode()">Verify
                <i class="fa fa-circle-o-notch fa-spin" *ngIf="verifyLoading" style="font-size:40px"></i>
              </button>
            </div>
            
          </div>
        </div>
    </div>
</form>