<footer id="footer">
    <div class="container">
        <div class="main-footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-9">
                        <img src="{{logoImages.logo}}" alt="">
                        <p>Helping devotees to find the cook devotee
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h5>Quick Links</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="footer-links padd text-white">
                                <li><a href="#">Home</a>
                                </li>
                                <li><a href="#">contact us</a>
                                </li>
                                <li class="find-devotee"><a href="#">find a cook devotee...</a>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="footer-links">
                                <li>
                                    <app-scroll-to [linkText]="'Instruction'" [scrollToClass]="'instruction'"></app-scroll-to>
                                    
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a >news &amp; events</a>
                                </li>
                                <li><a href="#">contact us : 8382049026</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>Powered by Gita Life | An ISKCON initiative<a href="#"></a>.</p>
            <ul class="footer-social">
                <li><a href=""><i class="fa fa-facebook-square"></i></a>
                </li>
                <li><a href=""><i class="fa fa-twitter-square"></i></a>
                </li>
                <li><a href=""><i class="fa fa-google-plus-square"></i></a>
                </li>
                <li><a href=""><i class="fa fa-linkedin-square"></i></a>
                </li>
                <li><a href=""><i class="fa fa-pinterest-square"></i></a>
                </li>
            </ul>
            <p>
                This website providing cook devotee for a center. Our resources doing work to maintain this website. Your donation is very helpful to inspire us.
            </p>
            <!-- end .footer-social -->
        </div>
    </div>
</footer>