<div class="latest-from-blog text-center bg-warning">
    <div class="container">
        <div class="hero-area horizontal text-center m-0">
            <div class="hero-content">
                <h2>Special Recipes</h2>
            </div>
        </div>
        <div class="container my-5 receipe-box">
            <div class="row">
              <div class="col-sm-6 my-5">
                  <div class="border bg bg-dark m-2 h-100 upload-button">
                    <button type="button" class="border btn btn-info position-relative">Upload Receipe</button>
                  </div>
              </div>
              <div class="col-sm-6 my-5">
                <div class="border bg bg-dark m-2 h-100 upload-button">
                    <button type="button" class="border btn btn-info position-relative">Upload Receipe</button>
                </div>
              </div>
              <div class="col-sm-6 my-5">
                <div class="border bg bg-dark m-2 h-100 upload-button">
                    <button type="button" class="border btn btn-info position-relative">Upload Receipe</button>
                </div>
              </div>
              <div class="col-sm-6 my-5">
                <div class="border bg bg-dark m-2 h-100 upload-button">
                    <button type="button" class="border btn btn-info position-relative">Upload Receipe</button>
                </div>
              </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-1.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a >Soft Cakes in Strawberry Yogurt</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Spoonfuls of thick batter are deep-fried in ghee to 
                                produce doughnut-like soft cakes, which are suspended in sweetened, fruit flavoured yogurt. 
                                You can substitute any fresh ripe berry for the strawberries, or try banana,
                                 passion fruit, papaya, mango, or kiwifruit.</p>
                            <a  class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-2.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a >Fettuccine, Pepper and Cream Cheese Salad</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Fettuccine pasta with its delightful "bird's-nest" appearance is the basis for this tasty salad.
                                Combined with cream cheese and roasted peppers, it's great served cold with a main savoury dish.</p>
                            <a  class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-3.jpg" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a >Corn Chowder</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Select corn with fresh, dark-green husks and plump yellow kernels. 
                                Boil the corn in unsalted water for exactly 8 minutes, as excessive cooking toughens the corn.</p>
                            <a  class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-4.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a >Potato Dumplings with Tomato Sauce (Gnocchi)</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Although not a true pasta, homemade gnocchi can replace
                                 pasta in a meal. These tasty and substantial dumplings originate 
                                in the style of the Molise region of Central Italy and are thus known as Gnocchi alla Molisana.</p>
                            <a  class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <br>
        <br>
        <h1 class="text-white">
            <a class="nav-link find-devotee">
                Under Construction...
            </a>
        </h1>
        <br>
        <br>
        <br>  
        <!-- read older button -->
        <!-- <div class="read-older">
            <a  class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read Older Entries</a>
        </div> -->
    </div>
    <!--end container-->
</div>