	/***************************************************/
	/*chef welcome */
	/***************************************************/

@media (max-width: 1199px) {
        body, .btn {
            font-size: 14px;
    }
        .chef-welcome {
		padding-bottom: 30px;
		padding-left: 30px;
  }
  
@media (max-width: 768px) {
  .chef-welcome {
		padding:0;
  }
  .col-sm-6{ 
      width: 80%;
    }
    .ml-5, .mt-5{
      margin: 0;
    }
    
  }

	.chef-welcome h1 {
		padding: 30px 0 10px 0;
		font-size: 35px;
	}

	.chef-welcome p {
		width: 55%;
		line-height: 30px;
    }
} 
    
.chef-welcome {
    margin: 0;
    padding-bottom: 125px;
    position: relative;
    width: 100%;
    background: url(../../assets/images/about/devotee-welcome-bg.jpg) top center no-repeat;
    background-size: cover;
    min-height: 800px;
  }
  
  .chef-welcome h1 {
    margin: 0;
    padding: 100px 0 60px 0;
    font-weight: bold;
    color: #323430;
  }
  
  .chef-welcome p {
    margin: 0;
    width: 50%;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 40px;
    color: #666;
  }
  
  