<div class="chef-welcome" id = "instruction">
  <div class="container ml-5">
    <div class="row">
      <div class="col-sm-6 mt-5">
        <div>
          <ul class="list-group">
            <li class="list-group-item active">
              <h4>Instruction</h4>
            </li>
            <li class="list-group-item">
                Register with your mail Id and mobile number
            </li>
            <li class="list-group-item">
              Verification through email address is mandatory for registration
          </li>
          <li class="list-group-item">
            You can verify your email address by clicking on the link send to your mail ID
          </li>
            <li class="list-group-item">
                Search for a cook
            </li>
            <li class="list-group-item">
                Filter and send hire request
            </li>
            <li class="list-group-item">
                Get phone number and final the deal on call
            </li>
            <li class="list-group-item">
              <b>You are done....</b>
            </li>
            
          </ul>

          <ul class="list-group my-4">
            <li class="list-group-item active">
              <h4>Login As a cook</h4>
            </li>
            <li class="list-group-item">
                You can also login as a cook if you wish to add a cook.
            </li>
            <li class="list-group-item">
                Enter your login detail and select the role as 'cook'
            </li>
            <li class="list-group-item">
                Press login button and you login as a cook.
            </li>
            <li class="list-group-item">
                Functionality : edit details, add photo, check request and much more....
            </li>
            <li class="list-group-item">
              Devotees can search cook with various parameter like state, salary etc...
            </li>
            <!-- <li class="list-group-item">
              <b>You are done....</b>
            </li> -->
            
          </ul>
          <br>
          <br>
          <br>

          <!-- <ng-template #extended>
            <ul class="list-group text-left">
              <li class="list-group-item active">
                <h4>Advance Feature</h4>
              </li>
              
              <li class="list-group-item">
                  Devotee can verify his mobile number for verification code for validity.
              </li>
              <li class="list-group-item">
                  Devotee can add cook with his own mail ID.
              </li>
              <li class="list-group-item">
                  Devotee can edit profile.
              </li>
              <li class="list-group-item">
                  Change/forgot password can make the devotee reliable.
              </li>
              

            </ul>
            <br>
            <br>
            <br>
          </ng-template>
          -->
          
          <!-- <div class="text-right">
            <a *ngIf="!extend;else extended" (click) = "readMore(true)" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
            <a *ngIf="extend" (click) = "readMore(false)" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  Less</a>
          </div> -->
        </div>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
  <!-- end .container -->
</div>