<section data-id="7535d91"
    class="elementor-element elementor-element-7535d91 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    id="regsec" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div data-id="74a6c752"
                class="elementor-element elementor-element-74a6c752 elementor-column elementor-col-50 elementor-top-column"
                data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="5eba1015"
                            class="elementor-element elementor-element-5eba1015 elementor-widget elementor-widget-text-editor"
                            data-element_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>please do read CAREFully</p>
                                </div>
                            </div>
                        </div>
                        <div data-id="3906ea92"
                            class="elementor-element elementor-element-3906ea92 elementor-widget elementor-widget-heading"
                            data-element_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Registration Procedure</h2>
                            </div>
                        </div>
                        <div data-id="1d3e37c7"
                            class="elementor-element elementor-element-1d3e37c7 elementor-widget elementor-widget-divider"
                            data-element_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="55bbe3af"
                class="elementor-element elementor-element-55bbe3af elementor-column elementor-col-50 elementor-top-column"
                data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="480017c8"
                            class="elementor-element elementor-element-480017c8 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-element_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-grow">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Step 1</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">A POC from each center submits the
                                            Registration Google Form, Mayapur Summer Camp Team receives POC details. If
                                            your center<b> is not found in the Form </b>please reach out to us and we
                                            will add.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-id="6d741a13"
                            class="elementor-element elementor-element-6d741a13 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-element_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-grow">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Step 2</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">After form submit POC will receive a
                                            link to the form response, which can be edited later. POC also receives a
                                            mail from Mayapur Summer Camp Team, with Center ID and a google Spreadsheet
                                            Link to fill the detail of the participants from their center. POC can keep
                                            filling these details. <b>10th of April</b>, this spreadsheet will no longer
                                            be accessible. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-id="4c28e87b"
                            class="elementor-element elementor-element-4c28e87b elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-element_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-grow">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Step 3</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">Mayapur Summer Camp Team will process
                                            the details of the participants from each center and will cross verify the
                                            registration amount calculated on the shared sheet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-id="0f75bf4"
                            class="elementor-element elementor-element-0f75bf4 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-element_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-grow">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Step 4</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">POC to pay the registration amount,
                                            payment process is launched on 16 March</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-id="6230842"
                            class="elementor-element elementor-element-6230842 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-element_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-grow">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Step 5</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">Book Accommodation for your center
                                            participants and pay the respective amount, booking will only be considered
                                            when amount is paid in full</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>