<form [formGroup]="emailForm">
    <div *ngIf="state.emailId" class="form-group col-md-12 ml-0 pl-0">
        <div class="form-row">
          <div class="form-group required col-md-9">
            <label for="emailId">{{Label.emailId}}</label>
            <input type="email" [readonly]="(state.emailId === 'disable')?true:false" class="form-control" id="emailId" formControlName="emailId">
            <div *ngIf="(form.emailId.invalid && (form.emailId.dirty || form.emailId.touched))" class="text-danger">
              <div *ngIf="form.emailId.errors?.required">
                {{RegistrationMessage.emailId}}
              </div>
              <div *ngIf="form.emailId.errors?.email">
                emailId is not correct
              </div>
               <!--
              <div *ngIf="name.errors.maxlength">
                Name must not exceed 15 characters.
              </div> -->
            </div>
           
        </div>
        <!-- <div *ngIf="(state.emailId === 'disable')?false:true" class="form-group col-md-2">
          <br>
          <button (click) = "verifyEmail()" class="form-control btn btn-primary mt-3" >verify</button>
        </div> -->
        </div>
    </div>
</form>