.profile-img{
    text-align: center;
}
.profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;;
}
.vh-5 {
    height: 5vh;
}

.mg-top-2 {
    margin-top: 2vh;
}

.pd-lft-2 {
    padding-left: 2vw;
}

.wd-100{
    width: 100%;
}