
<div class="form-row" *ngIf="currentFileUpload">
  <div  class="progress wd-100">
      <div class="progress-bar  progress-bar-info progress-bar-striped"
        role="progressbar" attr.aria-valuenow="(uploadProgress | async)"
        aria-valuemin="0" aria-valuemax="100" 
        [ngStyle]="{width:progress.percentage+'%'}">
        {{uploadProgress | async | number:'1.0-0'}}%</div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <div class="form-group col-md-5 pl-5">
      <label class=""> 
        <input type="file"
        (change)="selectFile($event)">
      </label>
      <div class="profile-img">
        <img src="{{url}}" alt="" srcset="" class="">
      </div>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success" [disabled]="!selectedFiles"
        (click)="upload()">Upload</button>
    </div>
  </div>
  <h5>click on upload button after choose picture to upload photo</h5>
</div>
  

   