<div class="vcard-page-content-wrapper d-flex align-items-end">
  <div class="page-content" tabindex="1" style="overflow: hidden; outline: none;">
    <div class="hero-area horizontal row clearfix">
      <div class="graph col-sm-6 " >
        <img src="../../assets/images/rank/graph.jpg" alt="">
      </div>
      <div class="hero-content col-sm-6">
        <h5>All over india</h5>
        <h2>Enlightened Food</h2>
        <h3>Experience the Higher Taste at our “Love Feast”</h3>

        <div class="contact-info mt-30">
          <a href="#"><img src="img/core-img/envelope2.png" alt=""> A Forum For The Cook Devotee By The Devotee</a>
          <a href="#"><img src="img/core-img/phone-call2.png" alt=""> Krishna Prasad</a>
          <a href="#"><img src="img/core-img/monitor2.png" alt="">Delicious Experience</a>
        </div>

        <!-- <div class="social-info mt-30">
          <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"><i
              class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i
              class="fa fa-pinterest" aria-hidden="true"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i
              class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i
              class="fa fa-twitter" aria-hidden="true"></i></a>
        </div> -->
      </div>
    </div>
  </div>
</div>