<section class="mbr-section article content9 cid-r91EAcXsSl" id="content9-11">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-7">Making easy access to Devotee Cooks within
                a short time and at a perfect price.
                One-stop solution to all Cook Search for Your Temple’s and Preaching
                Center’s.<strong></strong><br><br><strong>
                </strong>
                <div>
                </div>
                <div>Catch up with <a href="#" class="text-primary">cookdevotee.com</a> to find a Capable, Cooperative &
                    Creative Cook.
                    &nbsp; <br /><strong>Happy prasadam !!</strong>
                </div>
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>