<div class="card-group" id = "section">
        <div class="card">
          <img src="{{sectionImages.charu}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vidhan Prbhu</h5>
            <p class="card-text">The cardamom-spiked dough, filling and glaze will bring cozy winter appeal to your kitchen (and taste buds).</p>
            <p class="card-text">Mob : 96211XXXXX
                <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            </p>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{sectionImages.rasamrit}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pavitra Prbhu</h5>
            <p class="card-text">We love these cookie hacks from master pastry chef Anna Olson, who always has her holiday baking under wraps!</p>
            <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            <p class="card-text">Mob : 96211XXXXX </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{sectionImages.bigcook}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nimai Prbhu</h5>
            <p class="card-text">Just like a snowflake, each cookie flaunts a one-of-a-kind design that will bring so much sparkle to your holiday table.</p>
            <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            <p class="card-text">Mob : 96211XXXXX </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
</div>

<div class="card-group">
        <div class="card">
          <img src="{{sectionImages.personalcook}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Krishna Chaitanya Prbhu</h5>
            <p class="card-text">The cardamom-spiked dough, filling and glaze will bring cozy winter appeal to your kitchen (and taste buds).</p>
            <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            <p class="card-text">Mob : 96211XXXXX </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{sectionImages.satvikcook}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rakesh Prbhu</h5>
            <p class="card-text">We love these cookie hacks from master pastry chef Anna Olson, who always has her holiday baking under wraps!</p>
            <p class="card-text">Mob : 96211XXXXX
              <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            </p>
             
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{sectionImages.foreign}}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vikram Prbhu</h5>
            <p class="card-text">Just like a snowflake, each cookie flaunts a one-of-a-kind design that will bring so much sparkle to your holiday table.</p>
            <!-- <button type="button" class="btn btn-success pull-right">Hire Me</button> -->
            <p class="card-text">Mob : 96211XXXXX </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
</div>