.emp-profile{
    padding: 3rem 0rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-gallery > .profile-img{
    text-align: center;
    width: 100%;
    height: 34rem;
}
.profile-img img{
    width: 100%;
    height: 100%;
}

.profile-gallery > .profile-sub-images {
    height: 16rem;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 200;
    font-family: "Times New Roman", Times, serif;
}
.profile-tab p{
    font-weight: 200;
    font-family: 'Lobster', cursive;
}

.cook-box {
    font-family: "Times New Roman", Times, serif;
}
.align-items-center {
    display: inline-flex;
}

fieldset {
    border: 1px solid lightgray;
    margin: 2%;
    box-shadow: 1px 2px 2px 2px;
    padding-bottom: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"], h1, h2, h3, h4, h5, h6, div, strong, label {
      /* width: 100%; */
      text-align: center;
      padding: 2vw;
      box-shadow: 1vw;
      word-break: break-all;
    }

    img {
        border-radius: 50%;
    }

    .row {
        display: block;
        font-size: 5vmin;
    }
}

 h2, h3, h4, h5 div, strong, label {
    /* width: 100%; */
   font-size: 3vmin;
  }

  .badge-primary {
    padding: 6vmin 10vmin 6vmin 10vmin;
  }

  .badge-primary:hover {
      border: 1px solid black;
  }

img.profile-pic {
    border-radius: 50% !important;
}

.value-heigth {
    height: 7vmin;
    line-height: 7min;
}

li.list-group-item {
    margin-left: 0vw;
    margin-bottom: 0vh;
    z-index: 0;
    box-shadow: 1px 1px 1px 1px;
    transition: all linear 0.5s;
}

.row {
    font-size: 3vmin;
}

.col-sm-7 {
    overflow-y: hidden;
    border-right: 1px solid #ccc;
}

.mr-2 {
    margin: 2vw 0vw 2vw 0vw;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}

.request-box > legend {
    margin-bottom: 0px;

}

@media only screen and (min-width: 1200px) {
    .request-box > .container {
        max-width: 100% !important;
    }
}

h2, h3, h4, h5 div, strong, label {
    /* width: 100%; */
   font-size: 3vmin;
  }

  .badge-primary {
    padding: 1rem;
  }

  .badge-primary:hover {
      border: 1px solid black;
  }

  img.profile-pic {
    border-radius: 50% !important;
    width: 10rem;
}

.value-heigth {
    height: 7vmin;
    line-height: 7min;
}

.cook-box > li.list-group-item:hover {
    margin-left: 0.5rem;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px;
    transition: all linear 0.5s;
}

li.list-group-item {
    margin-left: 0vw;
    margin-bottom: 0vh;
    z-index: 0;
    box-shadow: 1px 1px 1px 1px;
    transition: all linear 0.5s;
}

.row {
    font-size: 3vmin;
}

.list-group {
    padding: 0rem 3rem;
    margin: 1rem 1rem;
    
}

.col-sm-8{
    overflow-y: hidden;
    border-right: 1px solid #ccc;
}

.cook-request-button > span:hover{
    cursor: pointer;
}

.cook-request-button{
    padding: 0rem !important;
}

.show-cook > .profile-pic{
    width:2rem;
    border-radius: 0% !important;
}