<div class="director-blog row">
    <div class="col-sm-6">
        <section class="mbr-section content5 cid-rctxb4TdS3" id="content5-7m">
            <div class="container">
                <div class="media-container-row">
                    <div class="title col-12 col-md-8">
                        <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2"><span
                                style="font-weight: normal;">A message from our Mentor and Director,
                            </span>
                            <div>Smarth Krishna Das</div>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="cid-rcB5oliqyU" id="image3-7q">
            <figure class="mbr-figure container">
                <div class="image-block" style="width: 37%;">
                    <img src="../../assets/images/director-blog/director.jpg" width="1400" alt="His Grace Smarth Krishna Das"
                        title="His Grace Smarth Krishna Das">
                </div>
            </figure>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="float-right mbr-section article content1 cid-rcB6mOjrbv" id="content2-7r">
            <div class="container">
                <div class="media-container-row">
                    <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                        <blockquote>
                            <p><strong>Would you like to get empowered </strong>to be a leader with a cool and relaxed head in
                                crisis, yet alert and effective leader in workplace excellence and personal relationships?
                            </p>
                            <p>
                                <span style="font-size: 1.09rem;">Just as we debug a program or remove a virus from a computer,
                                    <strong>we need holistic methods to purge out negativity</strong> and boost our positive
                                    energy.&nbsp;<br><br>Leaders VOICE empowers you, based on time-tested ancient wisdom, with
                                    the <strong>tools to manage your emotions, lifestyle and habits </strong>for a healthy
                                    mindset that will offer you a fulfilling experience and success in personal and professional
                                    life. &nbsp;<br><br>Leaders VOICE is an attempt is to increase our self-awareness, to
                                    <strong>be in control of situations and people</strong> through a proactive approach to make
                                    our lives happier.</span><strong><br></strong></p>
                            <p><strong>Smarth Krishna Das,</strong><br>MBA - Symbiosis International<br>Director - Gita Life<br>President
                                - ISKCON Puri</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>