<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{state.header}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-change-password *ngIf="role === 'cp'" (response)="response($event)"></app-change-password>
      <app-reset-password *ngIf="role === 'fp'" (response)="response($event)"></app-reset-password>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>