img.logo {
    height: 5rem;
    width: 13rem;
}

.m-2 {
    margin: 2vmin;    
}

.search:focus {
    width: 20vw;
    box-shadow: 5px 5px 5px 5px;
    transition: all linear 2s;
}

.search {
    width: 10vw;
    box-shadow: 0px 0px 0px 0px;
    transition: all linear 2s;
}

.bg-wht {
    background-color: white;
}

.menu .navbar-collapse .navbar-nav .nav-item .find-devotee{
    font-weight: 200;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}