<footer id="footer" class="section footer-classic context-dark bg-image" style="background: #2d3246;" id="contact">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" >
                    <img src="{{logoImages.logo}}" class="card-img-top logo" alt="...">
                    </a>
                <p>Dedicated to the best result in finding cook devotee across the India.</p>
                <!-- Rights-->
                <!-- <p class="rights"><span>©  </span><span class="copyright-year">Powered by Gita Life | An ISKCON initiative</span><span> </span><span></span><span>. </span><span>All Rights Reserved.</span></p> -->
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>2-29/1, Indira Nagar, Gachibowli</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">info@gitalife.in</a></dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Registration</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="fa fa-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi fa fa-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi fa fa-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi fa fa-youtube"></span><span>google</span></a></div>
        </div>
        <app-footer></app-footer>
      </footer>