<!-- Modal of many cook registerd by same one devotee -->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Welcome !!</h2>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>choose cook</p>
        <div class="form-check" *ngFor="let item of cookUsers">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" [(ngModel)]="selectUser"  [value] = "item" name="optradio">{{item.data.name}}
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="chooseCook(selectUser)">OK</button>
      </div>
    </ng-template>
    
    <!-- Modal for login  -->
    <ng-template #loginModal let-c="close" let-d="dismiss">
      <form *ngIf  = "loginForm" [formGroup]="loginForm">
        <div class="modal-header">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h4 class="modal-title" id="modal-basic-title">Login</h4>
              </div>
              <div class="col-sm-6 d-flex flex-row-reverse">
                <!-- <button type="button" class="btn btn-success ml-4" title="send email verification link" (click) = "sendVerificationEmail(loginForm.value)"><i class="fa fa-link" aria-hidden="true"></i></button> -->
                <button type="button" title="forgot password" (click) = "openForgotModal()" class="btn btn-success"><i class="fa fa-key fa-flip-horizontal" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">Email Id</label>
              <input type="text" formControlName="emailId" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <input type="password" formControlName="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <!-- <div class="form-row">
              <div class="form-group col-md-12">
                <label for="">Mobile No.</label>
                <input type="text" formControlName="mobileNo" class="form-control" id="" placeholder="">
              </div>
          </div> -->
          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="">Role</label>
                <select (change) = "onRoleChange($event.target.value)" formControlName="role"  class="form-control" >
                  <option value = "1" class="dropdown-item" href="#">COOK</option>
                  <option value = "2" class="dropdown-item" href="#">Devotee</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click) = "signInWithEmailAndPassword()"   type="button" class="btn btn-success">Login
            <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
          </button>
          <button id = "closeLoginModal" type="button" (click) = "closeLoginModal()" class="btn btn-success" data-dismiss="modal">Close</button>
                  
        </div>
      </form>    
    </ng-template>

  <app-modal-pop-up [role] = "'fp'"></app-modal-pop-up>
