<div id="sm-slide-section">
    <div class="container">
        <div class="slide-heading text-center">
            <h4>Our Clients Say</h4>
        </div>
        <!--end .clients heading-->
        <div id="slide-content" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper"
                    style="width: 8640px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-3600px, 0px, 0px);">
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img1.jpeg" alt="img-1">
                            <div class="details">
                                <h5><a href="#">jane doe</a>
                                </h5>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img-2.jpeg" alt="img-2">
                            <div class="details">
                                <h5><a href="#">Atul pr</a>
                                </h5>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img1.png" alt="img-1">
                            <div class="details">
                                <h5><a href="#">jane doe</a>
                                </h5>
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img-2.jpeg" alt="img-2">
                            <div class="details">
                                <h5><a href="#">Atul pr</a>
                                </h5>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img1.png" alt="img-1">
                            <div class="details">
                                <h5><a href="#">jane doe</a>
                                </h5>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 720px;">
                        <div class="item">
                            <img src="../../assets/images/sm-slide-section/sm-slide-img-2.jpeg" alt="img-2">
                            <div class="details">
                                <h5><a href="#">Atul Pr</a>
                                </h5>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                                <p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin
                                    nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end item class div-->


            <!-- end item class div-->


            <!-- end item class div-->


            <!-- end item class div-->


            <!-- end item class div-->


            <!-- end item class div-->
            <div class="owl-controls clickable">
                <div class="owl-pagination">
                    <div class="owl-page"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                    <div class="owl-page active"><span class=""></span></div>
                </div>
            </div>
        </div>
        <!-- end i.slide-content -->
    </div>
    <!-- end .container-->
</div>